@model Pasticceria.Models.ViewModels.HomeViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center justify-content-center bg-white">
    <h1 class="display-4 font-weight-bold">Lista dei notri dolci</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Prezzo</th>
                <th>Info</th>
                @if (SignInManager.IsSignedIn(User))
                {
                    <th>Modifica Ingredienti</th>
                    <th>Data di Produzione</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var articolo in Model.Articoli)
            {
                <tr>
                    <td>@articolo.Name</td>
                    <td>@articolo.Prezzo €</td>
                    <td><button class="btn btn-outline-info info-button" data-cat="@articolo.Id" data-toggle="modal" data-target="#info-modal">Dettagli</button></td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <td><button class="btn btn-outline-info add-ingredient-button" data-cat="@articolo.Id" data-toggle="modal" data-target="#add-ingredientedolce-modal">+</button><button class="btn btn-outline-info ml-1 remove-ingredient-button" data-toggle="modal" data-target="#remove-ingredientedolce-modal" data-cat="@articolo.Id">-</button></td>
                        <td>@articolo.ProductionDate</td>
                    }
                </tr>
            }
        </tbody>
    </table>

</div>

@if (SignInManager.IsSignedIn(User))
{
    <div class="container text-center">
        <button class="btn btn-primary" data-toggle="modal" data-target="#new-dolce-modal">Aggiungi Articolo</button>
        <button class="btn btn-primary" data-toggle="modal" data-target="#new-ingrediente-modal">Aggiungi Ingredienti</button>
    </div>
}

<!-- New Dolce Modal -->
<div class="modal fade" id="new-dolce-modal" tabindex="-1" role="dialog" aria-labelledby="new-dolce-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new-dolce-modal-label">Aggiungi nuovo dolce</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Home" asp-action="AggiungiArticolo">
                    <div class="form-group">
                        <label for="name-input">Nome Articolo</label>
                        <input name="Name" type="text" class="form-control" id="name-input" aria-describedby="name-input-help" placeholder="Inserire nome" required>
                    </div>
                    <div class="form-group">
                        <label for="price-input">Prezzo Unitario</label>
                        <input name="UnitPrice" type="text" class="form-control" id="price-input" aria-describedby="name-input-help" placeholder="Inserire prezzo" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Salva</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- New Ingrediente Modal -->
<div class="modal fade" id="new-ingrediente-modal" tabindex="-1" role="dialog" aria-labelledby="new-ingrediente-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new-dolce-modal-label">Aggiungi Ingrediente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form typeof="POST" asp-controller="Home" asp-action="AggiungiIngrediente">
                    <div class="form-group">
                        <label for="name-input">Nome Ingrediente</label>
                        <input name="Name" type="text" class="form-control" id="name-input" aria-describedby="name-input-help" placeholder="Inserire nome" required>
                    </div>
                    <div class="form-group">
                        <label for="value-input">Unità di Misura</label>
                        <select class="form-control" type="text" id="value-input" name="Value" placeholder="" required>
                            <option value="gr">gr</option>
                            <option value="kg">kg</option>
                            <option value="lt">lt</option>
                            <option value="fl.oz">fl.oz</option>
                            <option value="pz">pz</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Salva</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Add IngredienteDolce Modal -->
<div class="modal fade" id="add-ingredientedolce-modal" tabindex="-1" role="dialog" aria-labelledby="add-ingredientedolce-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new-dolce-modal-label">Assegna Ingrediente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <select class="form-control" type="text" id="add-ingredient-input" name="Ingrediente" placeholder="" required>
                    @foreach (var item in Model.Ingredienti)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <label for="add-quantity-input">Quantità</label>
                <input name="Name" type="number" class="form-control mb-2" id="add-quantity-input" aria-describedby="add-quantity-input-help" placeholder="Immettere valore" required>
                <button type="submit" class="btn btn-primary add-ingredient-submit">Aggiungi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>

        </div>
    </div>
</div>

<!-- Remove IngredienteDolce Modal -->
<div class="modal fade" id="remove-ingredientedolce-modal" tabindex="-1" role="dialog" aria-labelledby="remove-ingredientedolce-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new-dolce-modal-label">Togli Ingrediente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <select class="form-control" type="text" id="remove-ingredient-input" name="Ingrediente" placeholder="" required>
                    @foreach (var item in Model.Ingredienti)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>                
                <button type="submit" class="btn btn-primary remove-ingredient-submit">Rimuovi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<!-- Info IngredienteDolce Modal -->
<div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="remove-ingredientedolce-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new-dolce-modal-label">Informazioni Articolo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="nome-articolo-label"></p>
                <p id="data-creazione-label"></p>
                <p id="ingredienti-label"></p>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var dolceId = "";
        $('.add-ingredient-button').on('click', function () {
            dolceId = $(this).attr('data-cat');
        });
        $('.remove-ingredient-button').on('click', function () {
            dolceId = $(this).attr('data-cat');
            
        });

        $('.add-ingredient-submit').on('click', function () {
            var ingredientId = $('#add-ingredient-input').val();
            var quantity = $('#add-quantity-input').val();
            var settings = {
                "url": "Home/AssegnaIngrediente",
                "method": "POST",
                "async": false,
                "timeout": 0,
                'dataType': 'json',
                'data': {
                    'dolceId': dolceId,
                    'ingredienteId': ingredientId,
                    'quantity' : quantity
                },
                "error": function (error) {
                    
                }
            };

            $.ajax(settings).done(function (response) {
                location.reload();
                console.log(response);

            }).then(function (response) {
                
            }).fail(function (error) {
                respError = error;
                console.log(error.responseText);
            });
            $('#remove-ingredientedolce-modal').modal('hide');
        });

        $('.remove-ingredient-submit').on('click', function () {
            var ingredientId = $('#remove-ingredient-input').val();
            var settings = {
                "url": "Home/TogliIngrediente",
                "method": "POST",
                "async": false,
                "timeout": 0,
                'dataType': 'json',
                'data': {
                    'dolceId': dolceId,
                    'ingredienteId': ingredientId
                },
                "error": function (error) {
                    
                }
            };

            $.ajax(settings).done(function (response) {
                location.reload();
                console.log(response);

            }).then(function (response) {
                
            }).fail(function (error) {
                respError = error;
                console.log(error.responseText);
            });
            $('#remove-ingredientedolce-modal').modal('hide');
        });

        $('.ingredients-check').on('change', function () {
            var inputName = '#' + $(this).attr('data-cat');
            if ($(this).is('checked')) {
                $(inputName).prop("disabled", false);
            }
            else {
                $(inputName).prop("disabled", true);
            }
        });

        $('.info-button').click(function () {
            var respData;
            dolceId = $(this).attr('data-cat');
            var settings = {
                "url": "GetDolceDetails/" + dolceId,
                "method": "GET",
                "async": false,
                "timeout": 0,
                'dataType': 'json',
                "error": function (error) {                    
                }
            };

            $.ajax(settings).done(function (response) {
                respData = response;
                console.log(response);

            }).then(function (response) {
            }).fail(function (error) {
                respError = error;
                console.log(error.responseText);
            });

            $('#nome-articolo-label').text("Nome: "+respData.name);
            $('#data-creazione-label').text("Prodotto il: "+respData.productionDate);
            var ingrLabel = 'Ingredienti: ';
            for (var i = 0; i < respData.ingredienti.length; i++) {
                ingrLabel += respData.ingredienti[i].name + " (" + respData.ingredienti[i].quantity + " " + respData.ingredienti[i].value +"), ";
            }
            $('#ingredienti-label').text(ingrLabel);
            

        });

        
    </script>
}